body{
    background-color: #FFF7FC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='739' height='739' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2357BDCC' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23A7CACC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
}
#tablaParaAnadir{display: none;}

#contenido{
    background-color: #130d3546;
    border-radius: 1rem;
}
#contenido h1{
    transition: all ease-in-out 0.5s;
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 2px white;
}
#contenido h1:hover{
    color: white;
    text-shadow: 3px 2px black;
    transition: all ease-in-out 0.5s;
}

/* From uiverse.io by @felipesntr */
#btnCrearTarea {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

#btnCrearTarea span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

#btnCrearTarea:hover {
    background-color: #0071e2;
}

/* From uiverse.io by @adamgiebl */
#btnagregar {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

#btnagregar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

#btnagregar span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

#btnagregar:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

#btnagregar:hover {
    color: white;
}

#btnagregar:active span::before {
    background: #2751cd;
}

/* From uiverse.io */
#btnCancelar {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

#btnCancelar:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

#btnCancelar:active {
    transform: scale(0.9);
}

#anadirTabla{
    background-color: #0c0b5371;
    color: black !important;
    display: none;
}
#borrarBase{
    background-color: rgba(221, 216, 216, 0.534) ;
    display: none;
}
#borrarBase h1{
    font-size: 1.4rem;
    color: red !important;
    text-align: center;
}
#borrarBase p{
    color: #000 !important;
    text-align: center;
}

/*creditos
https://uiverse.io/adamgiebl/giant-donkey-36
https://uiverse.io/martinval9/nervous-owl-11*/
#btnCanBorrador {
    color: #B500FF;
    padding: 13px 20px;
    border: 2px solid #B500FF;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: Arial;
    font-weight: 600;
}
#btnCanBorrador:hover {
    transition: 0.3s;
    background-color: #B500FF;
    margin-top: -20px;
    color: #fff;
    animation-name: button_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#btnCanBorrador:active {
    transform: scale(0.97);
}

@keyframes  button_animation {
    0% {
    background-color: #B500FF;
    }
    25% {
    background-color: #000000;
    }
    50% {
    background-color: #B500FF;
    }
    75% {
    background-color: #000000;
    }
    100% {
    background-color: #B500FF;
    }
}


#bntBorrarBase{
    background: #1ffb94;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

#bntBorrarBase:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
